.navigation-right a:nth-child(4) {
	background-color: rgb(227, 226, 226);
	color: #009900;
}
.banner-tu {
	margin-bottom: 50px;
	width: 1200px;
	margin: 0 auto;
}
.consulting-zx {
	margin: 65px auto;
}
.consulting-head {
	font-size: 32px;
	font-weight: normal;
	letter-spacing: 3px;
	color: red;
	background: url(../../img/public/leaf1.png) center no-repeat;
	text-align: center;
	margin-bottom: 25px;
}
.consulting-text {
	display: flex;
}
.consulting-text-1 {
	margin-left: 0;
}
.consulting-text-1 h3 {
	font-size: 16px;
	margin-bottom: 15px;
	margin-top: 15px;
	color: #000000;
}
.consulting-text-1 p {
	font-size: 14px;
	color: #898b89;
	margin-bottom: 20px;
	letter-spacing: 2px;
	line-height: 1.5;
	margin: -0.25em 0;
}
.consulting-text-1 a {
	color: #e62727;
}
.consulting-img {
	margin-left: 200px;
}
.consulting-img-1 img {
	width: 300px;
	height: 130px;
	margin-bottom: 40px;
}

.geng {
	float: right;
	position: relative;
	z-index: 999;
	margin-right: 8px;
}
.geng a {
	color: #e62727;
}
.recommend-img {
	display: flex;
}
.recommend-text-1 {
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: white;
	background-color: #009900;
	margin-left: 30px;
	z-index: 1;
}
.recommend-text-1 p {
	width: 100px;
}
.recommend-img-2 {
	margin-left: -120px;
}
.recommend-text {
	font-size: 16px;
	color: #898b89;
	margin: 25px 0;
}
.headline-text {
	width: 120px;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	color: white;
	background-color: #009900;
	margin-left: 30px;
	z-index: 1;
}
.headline-content {
	margin: 38px 0;
}
.headline-content h3 {
	font-size: 16px;
	color: #898b89;
}
.headline-content p {
	width: 620px;
	font-size: 12px;
	color: #898b89;
	margin: 15px 0;
}
.headline-img {
	display: flex;
}
.healine-img-right-img {
	width: 410px;
}
.healine-img-right-img img {
	width: 250px;
	height: 100px;
	margin-top: 35px;
	margin-bottom: 25px;
}
.headline {
	margin-top: 270px !important;
}
.headline-img-right-1 {
	width: 265px;
	height: 920px;
	margin-top: -115px;
	margin-left: -104px;
	border: 1px solid black;
}
.img-right-head {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}
.img-right-head p:nth-child(1) {
	font-size: 16px;
	color: #000000;
}
.img-right-head p:nth-child(2) {
	color: #898b89;
	margin: -6px;
}
.img-right-content {
	display: flex;
	margin: 60px 0px;
}
.right-content-right img {
	width: 100px;
	height: 100px;
}
.right-content-left {
	width: 100px;
	color: #898b89;
	margin-top: 30px;
	margin-left: 20px;
}
.span-1 {
	color: #898b89;
}
.right-content-left p:nth-child(2) {
	color: #e62727;
	margin-top: 10px;
}
.right-content-left p span:nth-child(2) {
	margin-left: 10px;
}
.right-content-right img {
	margin-top: 15px;
	margin-left: 25px;
}
body {
	.zixun {
		.news-time-box {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			border-top: 1px solid $grey-color;
            a{
                color:#333 ;
            }
			.news-time-list {
                overflow: hidden;
				display: flex;
				justify-content: space-between;
				height: 320px;
				margin: 30px 0;
				align-items: center;
				a {
					color: #333;
				}
				.list-new-item {
                    margin: 0 26px;
					height: 300px;
					flex-direction: column;
					display: flex;
					justify-content: space-around;
					align-items: center;
					padding: 8px;
					width: 230px;
					border: 1px solid $grey-color;
					border-radius: 8px;
					.news-time-bofy-box {
						p:not(#postTime) {
							font-size: 16px;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 3;
							-webkit-box-orient: vertical;
						}
						width: 225px;
						.news-title-body-box {
							font-size: 17px;
							font-weight: bold;
						}
						display: flex;
						justify-content: space-between;
						flex-direction: column;
						height: 134px;
						.infor-news-box {
							#source {
								color: #898b89;
							}
							display: flex;
							align-items: center;
							height: 15px;
							justify-content: space-between;
							font-size: 12px;
						}
					}
					img {
						width: 200px;
						border-radius: 8px;
                        height: 124px;
					}
				}
			}
			
		}
        .up-dw-box {
            padding-bottom: 20px;
			border-bottom: 1px solid $grey-color;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 8px;
                background-color: #fff;
                border: 1px solid #ccc;
                color: #333;
                &:hover {
                    color: $words-color;
                    background-color: $huihei-color;
                }
            }
            .up-page,
            .down-page {
                margin: 0 35px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                width: 80px;
                height: 40px;
                background-color: #fff;
                border: 1px solid #ccc;
                &:hover {
                    color: $words-color;
                    background-color: $huihei-color;
                }
            }
        }
	}
}
