@mixin themed($property, $light-value, $dark-value) {
  [data-theme="light"] & {
    #{$property}: $light-value;
  }
  
  [data-theme="dark"] & {
    #{$property}: $dark-value;
  }
}

#theme-toggler:before {
transition: all .4s;
  @include themed(content, "🌙", "🌞");
}
body .fixedtool li{
  
  transition: color .4s;
  @include themed(color,$grey-color,$huihei-color)
}
.wangzhanshouye,body,body .fixedtool{
	transition: background-color .4s;
  @include themed(background-color,$bg-color-dark,$bg-color)
}
body .header {
  transition: border-bottom .4s;
  @include themed(border-bottom,1px solid $two-text-color-dark,1px solid  $line-color)
}
body .header-box .header-top,body a,body .header-box .header-top .header-right .loc-mc-box .loc-mc-box__text:nth-child(2),body .header-box ,body .lovef .lovef_btn,body .title .z-dl .z-dl-left h4 ,body .title .z-dl .z-dl-left p ,body .ni-icon{
  transition: color .4s;
@include themed(color, $one-text-color-dark,$line-color)
}
body .header-box .header-body .search .search,body .news-item {
	transition: background-color .4s;
  @include themed(background-color,$bg-color-dark,$bg-color)
}
body .header-box .header-body .search .search{
  transition: border-left .4s;
  @include themed(border-left,6px solid $three-text-color-dark,6px solid #fff)
}
body .header-box .header-body .search .search{
  transition: border-right .4s,background-color .4s,border-right .4s,border-left .4s;
  @include themed(border-right,6px solid $three-text-color-dark,6px solid #fff)
}
body .left-menu ,body .seckill .seckill_timer .seckill_timer_box{
	transition: background-color .4s;
  @include themed(background-color,#5f5750,rgba(0, 0, 0, 0.6))
}
body .title .z-dl-head,body .lovef_img .lovef_imgs{
	transition: background-color .4s;
  @include themed(background-color,$two-text-color-dark,#ffffff)
}
body .title .z-dl-head .z-dl-head-l a{
  transition: color .4s;
  @include themed(color,$bg-color-dark,#626262)
}
body .right_pro-l{
	transition: background-color .4s;
  @include themed(background-color,$three-text-color-dark,rgb(230, 230, 230))
}
body .consulting h2 {
  transition: color .4s;
  @include themed(color,$three-text-color-dark,#ffffff)
}
body .table-box a {
  transition: color .4s;
  @include themed(color,$two-text-color-dark,#616161)
}
body .footer-head .footer-header .introduce {
  transition: border .4s;
  @include themed(border,1px solid $bg-color-dark,1px solid #f3f3f3)
}
body .footer-head .footer-header .introduce .foolter-header-title,body .footer-head .footer-header .introduce i,body .footer-head-body .footer-header-body span,body .seckill .seckill_title,body .iconfont,body .seckill .seckill_content p,body .seckill .seckill_timer .seckill_timer_box{
  transition: color .4s;
  @include themed(color,$bg-color-dark,#f3f3f3)
}
body .footer-body .aboutt li a,body .foolter-bootm .infor li,.headline-text{
  transition: color .4s;
  @include themed(color,$three-text-color-dark,#f3f3f3)
}
body .shar-to .shar-to-two,body .shar-to .shar-to-one .shar-one,body .shar-to .shar-to-three .shar-three{
	transition: background-color .4s;
  @include themed(background-color,$one-text-color-dark,#f3f3f3)
}
body .shar-to .shar-to-two a .fa-paper-plane,body .shar-to .shar-to-two a p,body .shar-to .shar-to-one .shar-one a i,body .shar-to .shar-to-three .shar-three i,body .shar-to .shar-to-three .shar-three p,body .shar-to .shar-to-one .shar-one,body .shar-to .shar-to-one .shar-one .fa-share-square{
  transition: color .4s,border .4s,background-color .4s;
  @include themed(color,$three-text-color-dark,#494949)
}
body .shar-more-more-1 .shar-more-qq-1 a p,body .shar-more-more-1 .shar-more-qq-1 a i,body .shoufengqin-box .big p{
  transition: color .4s;
  @include themed(color,$three-text-color-dark,#494949)
}

// --------------------采购大厅、社区----------------------
body .product-1,body .right-img-3-1{
	transition: background-color .4s;
  @include themed(background-color,$bg-color-dark,#fff)
}
body .search-wapper .search-plus .search,body .community-footer .community-footer-infor a,body .community .community-box .community-head-box .search-community-box .input-community{
	transition: background-color .4s;
  @include themed(background-color,$one-text-color-dark,#fff)
}
body .search-wapper .search-plus .search{
  transition: border-left .4s;
  @include themed(border-left,6px solid $three-text-color-dark,6px solid #fff)
}
body .search-wapper .search-plus .search{
  transition: border-right .4s;
  @include themed(border-right,6px solid $three-text-color-dark,6px solid #fff)
}
body .page .up,body .page .down,body .community-head-box2 .community-tags,body .community-box .post-blog .blog-post-box,body .community .community-box .community-head-box .search-community-box #community{
	transition: background-color .4s;
  @include themed(background-color,$one-text-color-dark,#fff)
}
body .forum .forum-box .forum-box-body{
  transition: color .4s;
  @include themed(color,$one-text-color-dark,$one-text-color-dark)
}
body .community-box .post-blog .blog-post-box .blog-infor-p,body .community .community-box .community-head-box .search-community-box .input-community{
  transition: color .4s;
  @include themed(color,$three-text-color,$one-text-color)
}
body .community-footer .community-footer-infor h3 ,body .caigoudating .caigounote header section label,body .caigoudating .caigounote #secaton-2 h2{
  
  transition: color .4s;
  @include themed(color,$two-text-color-dark,$one-text-color)
}
body .community .community-box .community-head-box .search-community-box #community{
  transition: color .4s;
  @include themed(color,$three-text-color,$bg-color-dark)
}
body .community .community-box .community-head-box .search-community-box #community{
  transition: border-right .4s;
  @include themed(border-right,2px solid $three-text-color-dark,2px solid #efefef)
}
// -------------------------爱心助农------------------------------
body .details,body .finally{
	transition: background-color .4s;
  @include themed(background-color,$bg-color-dark,$bg-color)
}
body .finally .f-content .fc-text .fct-two{
  transition: color .4s;
  @include themed(color,$three-text-color-dark,$bg-color-dark)
}

body .details{
  @include themed(border,solid 1px $two-text-color,solid 1px #eeeeee)
}
body .finally .f-content .fc-text .fct-data,body .issue h3,body .answer .answer-1 .a1-text{
  transition: color .4s;
  @include themed(color,$three-text-color-dark,#333333)
}
body .map .map-case .map-text h3 + p{
  transition: color .4s;
  @include themed(color,$one-text-color-dark,$bg-color-dark)
}
body .map{
	transition: background-color .4s;
  @include themed(background-color,$three-text-color-dark,$bg-color)
}
// -------------------------农业资讯------------------------------
.consulting-text-1 h3,.geng a,.headline-content h3{
  transition: color .4s;
  @include themed(color,$three-text-color-dark,$bg-color-dark)
}
.headline-img-right-1{
  transition: border .4s;
  @include themed(border,1px solid $three-text-color-dark,1px solid black)
}
// -------------------------关于我们------------------------------
body .about p,body .about_contain .text{
  transition: color .4s;
  @include themed(color,$three-text-color-dark,#404040)
}
body .flow-famer .print .print-1{
  transition: border .4s;
  @include themed(border,1px solid $three-text-color-dark,1px solid $bg-color-dark)
}
body .flow-famer .print .print-1,body .flow-famer .print p{
  @include themed(color,$three-text-color-dark,$bg-color-dark)
}
.up-btn a{
  @include themed(color,$two-text-color-dark,$bg-color-dark)
}