@import "../public/color";
@import "../public/base";
@import "../public/reset";
@import "fun";
@font-face {
	font-family: "myfont";
	src: url(../../fonts/FZSuHJW.TTF);
}
body {
	.details-head {
		.details-head-box {
			height: 75px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.details-head-logo {
				display: flex;
				justify-content: space-between;
				align-items: center;
				img {
					width: 110px;
				}
				.details-head-more {
					p {
						font-size: 14px;
						border: 1px solid $grey-color;
						padding: 3px 0px 3px 8px;
					}
				}
			}
			.details-head-input {
				display: flex;
				justify-content: center;
				align-items: center;
				input {
					width: 280px;
					height: 30px;
					padding: 0 10px;
					outline: none;
					border: 2px solid $green-color;
					vertical-align: middle;
				}
				button {
					height: 31.5px;
					width: 82px;
					font-size: 13px !important;
					padding: 0;
					border: none;
					background-color: rgb(134, 191, 50);
					color: $words-color;
					font-size: 16px;
					border: 1px solid rgb(224, 224, 224);
					border-left: none;
				}
				span {
					line-height: 22px;
					margin-left: 2px;
					text-align: center;
					border: 1px solid $grey-color;
					padding: 3px 15px;
					font-size: 12px;
					background-color: rgb(142, 203, 51);
				}
			}
		}
	}
	.details-body {
		.details-body-box {
			height: 515px;
			border: 1px solid $grey-color;
			padding: 15px 0 15px 0;
			display: flex;
			justify-content: space-evenly;
			.details-body-left {
				.swiper {
					width: 100%;
					height: 100%;
				}

				.swiper-slide {
					text-align: center;
					font-size: 18px;
					background: #fff;

					/* Center slide text vertically */
					display: -webkit-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					-webkit-justify-content: center;
					justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					-webkit-align-items: center;
					align-items: center;
				}

				.swiper-slide img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				body {
					background: #000;
					color: #000;
				}

				.swiper {
					width: 100%;
					height: 300px;
					margin-left: auto;
					margin-right: auto;
				}

				.swiper-slide {
					background-size: cover;
					background-position: center;
				}

				.mySwiper2 {
					height: 80%;
					width: 100%;
				}

				.mySwiper {
					height: 20%;
					box-sizing: border-box;
					padding: 10px 0;
				}

				.mySwiper .swiper-slide {
					width: 25%;
					height: 100%;
					opacity: 0.4;
				}

				.mySwiper .swiper-slide-thumb-active {
					opacity: 1;
				}

				.swiper-slide img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				width: 420px;
				height: 450px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				.details-body-left-star {
					flex: 1;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					font-size: 12px;
					i {
						color: gold;
						font-size: 14px;
					}
				}
				.swiper-button-next,
				.swiper-button-prev {
					color: $black-color;
				}
			}
			.details-body-center {
				width: 500px;
				height: 450px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				h3 {
					font-size: 19px;
					margin-bottom: 15px;
				}
				.details-body-price {
					.details-price-head,
					.details-body-body {
						background-color: #fff2e8;
					}
					.details-price-head {
						height: 30px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						.goods-month {
							font-size: 13px;
							margin: 8px 8px 0 0;
						}
						.price {
							align-items: center;
							display: flex;
							p {
								&:nth-child(1) {
									margin-left: 5px;
									font-size: 12px;
								}
								&:nth-child(2) {
									text-decoration: line-through;
									margin-left: 33px;
									font-size: 14px;
								}
							}
						}
					}
					.details-body-body {
						height: 30px;
						display: flex;
						justify-content: flex-start;
						p {
							&:nth-child(1) {
								margin-left: 5px;
								font-size: 12px;
							}
							&:nth-child(3) {
								color: $words-color;
								background-color: #ff8e1b;
								padding: 0 8px;
								font-size: 12px;
								display: flex;
								align-items: center;
							}
						}
						span {
							font-weight: 600;
							font-size: 25px;
							color: #ff4400;
							margin-left: 18px;
						}
					}
					.details-body-discount {
						background-color: #fff9f5;
						height: 30px;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						p {
							&:nth-child(1) {
								margin-left: 5px;
								font-size: 12px;
							}
							&:nth-child(3) {
								padding: 0 8px;
								font-size: 12px;
								display: flex;
								align-items: center;
							}
						}
					}
					.details-exprss {
						padding: 12px 0;
						border-bottom: 1px solid $grey-color;
						display: flex;
						font-size: 12px;
						flex-wrap: wrap;
						align-items: center;
						margin: 5px 0;
						#exp,
						#exp-press {
							margin: 0 5px;
							background-color: $words-color;
							border: none;
						}
						p {
							&:nth-child(1) {
								margin-left: 5px;
								margin-right: 33px;
							}
							&:nth-child(5) {
								display: flex;
								justify-content: center;
								width: 258px;
								height: 25px;
								align-items: center;
							}
						}
					}
					.details-color {
						display: flex;
						p {
							width: 85px;
							margin-top: 8px;
							font-size: 12px;
							margin-left: 5px;
						}
						.details-color-img {
							img {
								padding: 5px;
								border: 1px solid $grey-color;
								width: 25px;
								height: 25px;
								margin: 5px 5px 0 0;
							}
							display: flex;
							flex-wrap: wrap;
						}
					}
					.details-num {
						p {
							&:nth-child(1) {
								font-size: 12px;
							}
							&:last-child {
								font-size: 12px;
							}
							&:nth-child(2) {
								border: 1px solid $grey-color;
								width: 80px;
								display: flex;
								justify-content: center;
								align-items: center;
							}
						}
						.details-number {
							margin: 0 20px;
							display: flex;
							justify-content: center;
							width: 100px;
							a {
								font-size: 16px;
								display: flex;
								align-items: center;
								justify-content: center;
								height: 30px;
								width: 30px;
								color: $black-color;
								background-color: #ededed;
								border: 1px solid $grey-color;
							}
						}

						display: flex;
						margin-left: 5px;
						height: 65px;
						justify-content: flex-start;
						align-items: center;
					}
					.details-btn {
						a{
							display: flex;
							justify-content: center;
							align-items: center;
							&:hover{
								color: #fff;
	
							}
						}
						align-items: center;
						
						display: flex;
						justify-content: flex-start;
						button {
							&:first-child {
								margin-left: 5px;
								color: #e5511d;
								border-color: #f0cab6;
								background: #ffe4d0;
								display: block;
								cursor: pointer;
								width: 134px;
								height: 38px;
								text-align: center;
								font-family: "Hiragino Sans GB", "microsoft yahei", sans-serif;
								font-size: 16px;
								line-height: 38px;
								border-width: 1px;
								border-style: solid;
								-moz-border-radius: 2px;
								-webkit-border-radius: 2px;
								border-radius: 2px;
							}
							&:last-child {
								margin-left: 12px;
								i {
									margin: 0 5px;
								}
								width: 180px;
								color: #fff;
								border-color: #f40;
								background: #f40;
								display: block;
								cursor: pointer;
								width: 134px;
								height: 38px;
								text-align: center;
								font-family: "Hiragino Sans GB", "microsoft yahei", sans-serif;
								font-size: 16px;
								line-height: 38px;
								border-width: 1px;
								border-style: solid;
								-moz-border-radius: 2px;
								-webkit-border-radius: 2px;
								border-radius: 2px;
							}
						}
					}
					.details-footer1 {
						p {
							&:first-child {
								font-size: 12px;
								margin: 0 18px 0 5px;
							}
						}
						display: flex;
						margin-top: 18px;
						justify-content: start;

						.details-footer-box {
							.fa-mug-hot {
								color: #00ba97;
							}
							.fa-gifts {
								color: #00ba97;
							}
							.fa-youtube-square {
								color: $bule-color;
							}
							.fa-wallet {
								color: #ff9d55;
							}
							.fa-credit-card {
								color: #00ba97;
							}
							.fa-coins {
								color: #e5511d;
							}
							i {
								font-size: 13px;
							}
							font-size: 12px;
							width: 110px;
							display: flex;
						}
					}
				}
			}
			.details-body-right {
				border-left: 1px solid $grey-color !important;
				padding-bottom: 34px;
				width: 200px;
				height: 450px;
				.details-body-right-box {
					.fa-school {
						color: #ff900e;
					}
					.fa-ice-cream {
						color: #01e2f6;
					}
					.fa-money-check {
						color: #2786e8;
					}
					.fa-arrow-up {
						color: #f40;
					}
					a {
						font-size: 14px;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 25px;
						border: 1px solid gold;
						border-left: none;
						border-right: none;
						&:first-child {
							color: $black-color;
						}
					}
					.details-right-infor {
						h3 {
							font-weight: bold;
							font-size: 14px;
							margin: 5px 0;
						}
						p {
							margin: 5px 0;
						}
						margin-bottom: 12px;
						font-size: 13px;
						margin-left: 12px;
						display: flex;
						flex-direction: column;
					}
					.details-right-body {
						p {
							width: 40px;
						}
						i {
							margin: 4px 0 4px 0;
							color: #ff5900;
						}
						border-top: 1px solid $grey-color;
						height: 58px;
						align-items: center;
						text-align: center;
						font-size: 12px;
						display: flex;
						justify-content: space-around;
						flex-wrap: wrap;
					}
					.details-rgiht-footer-btn {
						display: flex;
						justify-content: space-around;
						align-items: center;
						.details-right-btn {
							float: left;
							border: none;
							margin-right: 5px;
							width: 74px;
							height: 28px;
							text-align: center;
							color: #666;
							line-height: 28px;
							border: 1px solid #ededed;
							-moz-border-radius: 2px;
							-webkit-border-radius: 2px;
							border-radius: 2px;
							background: #fafafa;
						}
					}
					.details-right-footer {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-around;
						margin-top: 20px;

						h3 {
							text-align: center;
							width: 100%;
							margin-bottom: 10px;
							font-size: 13px;
							font-weight: bold;
						}
						.footer-details-right {
							a {
								display: block;
								width: 100%;
								height: 100%;
							}
							img {
								width: 75px;
							}
							p {
								font-size: 14px;
								color: #f40;
								text-align: center;
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}
	.details-infor-box {
		margin-top: 20px;
		margin-bottom: 160px;
		display: flex;
		border: none;
		border-left: 1px solid #E5E5E5;
		border-right: 1px solid #E5E5E5;
		justify-content: space-around;
		background-color: #e5e5e5;
		.details-box-head {
			background-color: #e5e5e5;
			display: flex;
			justify-content: flex-start;
			width: 1200px;
			height: 50px;

			.details-head-box-footer {
				cursor: pointer;
				font-size: 14px;
				display: flex;
				align-items: center;
				width: 150px;
				justify-content: center;
				border-left: 1px solid #d2d2d2;
				border-right: 1px solid #d2d2d2;
			}
		}
		.qrcode-mobile-buy {
			.qrcode-buy-body{
				cursor: pointer;
				font-size: 14px;
				width: 150px;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				position: relative;
				img{
					position: absolute;
					top: 50px;
					z-index: 99999;
					right: 0;
					display: none;
					height: 150px;
					width: 150px;
				}
			}
		}
	}
	.details-body-infor-class{
		cursor: pointer;
		font-size: 14px;
		display: flex;
		align-items: center;
		width: 150px;
		justify-content: center;
		border-left: 1px solid #d2d2d2;
		border-right: 1px solid #d2d2d2;
		border-top: 2px solid #e5511d;
		background-color: #f6f6f6;
		color: #e5511d;
	}
	.qrcode-mobile-buy {
		&:hover .qrcode-buy-body img{
			display: block; /*这里把里面的内容显示出来*/
		}
		&:hover .qrcode-buy-body{
			background-color: #f6f6f6;
		}
	}
}
